<!-- src/main/resources/templates/login.html -->

<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>로그인</title>
</head>
<body>
<h1>로그인</h1>

<!-- 일반 로그인 -->
<form action="/form-login" method="post">
  <label for="email">이메일:</label>
  <input type="text" name="username" id="email"><br>

  <label for="pw">비밀번호:</label>
  <input type="password" name="password" id="pw"><br>

  <button type="submit">로그인</button>
</form>

<!-- 구분선 -->
<hr>

<!-- 구글 로그인 -->
<a href="/oauth2/authorization/google">Google로 로그인</a><br><br>

<!-- 회원가입 -->
<a href="/signup">회원가입</a>
</body>
</html>
